/*
add more specific styles like h1.site-header
maybe switch to Grid to layout table, maybe still use table elements b/c semanticaly appropriate, just use Grid to style
wrap task name to new line on small screens
css grid for layout

Be able to click done on time blocks? Feels nice but also can infer based on date.now

Maybe automatically apply css to make past events greyed out
Also css to make current time block highlight Ed

style so don't feel hard borders between hour and minute, maybe no border at all, but diff bg color
*/

* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"site-header"
		"site-content"
		"site-controls"
		"site-footer"
	;
	grid-template-rows: auto 1fr 1fr auto;

	width: 100%;
	max-width: 900px;
	min-height: 100vh;
	margin: 0 auto;
}

.site-header, .site-footer {
	width: 100%;	/* this shouldn't be necessary, should it? */
	margin: 0 auto;
	padding: 10px 20px 20px 20px;
	background-color: #0d3349;
	color: whitesmoke;
	text-align: center;
}

.site-header {
	grid-area: site-header;
}

	.site-header h1 {
		margin: .25em;
	}

.site-content {
	grid-area: site-content;
	margin: 40px 0;
	padding: 0;
}

	.time-blocks {
		width: 100%;
	}

		.time-block-rows {
		}

			.time-window {
				width: auto;
			}

				.time-block-rows td {
					padding: 5px 10px;
				}

				.time-block-rows input {
					width: 40px;
				}

			.time-name-container {
				width: 100%;
			}

				.time-block-rows input.task-name {
					width: 100%;
				}

.site-controls {
	grid-area: site-controls;
}

/* See `.site-header` for some shared styles. */
.site-footer {
	grid-area: site-footer;
}

/*
 * Tablet
 */
@media only screen and ( min-width: 35em ) {
	/* todo */
}

/*
 * Desktop
 */
@media only screen and ( min-width: 45em ) {
	body {
		grid-template-columns: 200px 1fr;
		grid-template-areas:
			"site-header   site-header"
			"site-controls site-content"
			"site-footer   site-footer"
		;
		grid-template-rows: auto 1fr auto;
	}

	.time-window {
		min-width: 175px;
	}

		.time-block-rows input.task-name {
			min-width: 120px;
		}

}