/*
add more specific styles like h1.site-header
maybe switch to Grid to layout table, maybe still use table elements b/c semanticaly appropriate, just use Grid to style
wrap task name to new line on small screens
css grid for layout

Be able to click done on time blocks? Feels nice but also can infer based on date.now

Maybe automatically apply css to make past events greyed out
Also css to make current time block highlight Ed

style so don't feel hard borders between hour and minute, maybe no border at all, but diff bg color
*/

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	display: grid;
	grid-gap: 10px 20px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"site-header"
		"javascript-required"
		"site-content"
		"site-controls"
		"site-footer"
	;
	grid-template-rows: auto auto 1fr 1fr auto;

	width: 100%;
	max-width: 900px;
	min-height: 100vh; /* Assists with pinning the footer to the bottom of the document */
}

.site-header, .site-footer {
	width: 100%;	/* this shouldn't be necessary, should it? */
	margin: 0 auto;
	padding: 10px 20px 20px 20px;
	background-color: #0d3349;
	color: whitesmoke;
	text-align: center;
}

.site-header {
	grid-area: site-header;
}

	.site-header h1 {
		margin: .25em;
	}

.javascript-required {
	grid-area: javascript-required;
	color: darkred;
	margin: 0 2em;
	padding: 1em;
	border: 5px solid darkred;
	text-align: center;
}

	html.js .javascript-required {
		display: none;
		/* this doesn't get rid of the grid-gap. probably need to remove it from the grid-template-areas instead :|
		or maybe just set grid-gap to 0 and rely on margin on individual elements? or maybe reducing it from 20px to 10px was good enough?
		*/
	}


html.no-js .site-content,
html.no-js .site-controls {
	display: none;
}


.site-content,
.site-controls {
	padding: 0 20px;
}

.site-content {
	grid-area: site-content;

}

	.time-blocks {
		width: 100%;
	}

		.time-block-rows {
		}

			.time-window {
				width: auto;
			}

				.time-block-rows td {
					padding: 5px 10px;
				}

				.time-block-rows input {
					width: 40px;
				}

			.time-name-container {
				width: 100%;
			}

				.time-block-rows input.task-name {
					width: 100%;
				}

	.day-controls {
		margin-top: 20px;
	}

.site-controls {
	grid-area: site-controls;
}

	.site-controls h2:first-child {
		margin-top: 0;
	}

	.existing-templates {
		padding-left: 0;
		list-style-type: none;
	}


/* See `.site-header` for some shared styles. */
.site-footer {
	grid-area: site-footer;
}

/*
 * Tablet
 */
@media only screen and ( min-width: 35em ) {
	html {
		padding: 0 20px;
	}

	body {
		margin: 0 auto;
		border-right: 1px solid #0d3349;
		border-left: 1px solid #0d3349;
	}

	.site-controls {
		padding-left: 10px;
	}

	.site-content {
		padding-right: 10px;
	}
}

/*
 * Desktop
 */
@media only screen and ( min-width: 45em ) {
	body {
		grid-template-columns: 200px 1fr;
		grid-template-areas:
			"site-header         site-header"
			"javascript-required javascript-required"
			"site-controls       site-content"
			"site-footer         site-footer"
		;
		grid-template-rows: auto auto 1fr auto;

	}

	.time-window {
		min-width: 175px;
	}

		.time-block-rows input.task-name {
			min-width: 120px;
		}

}