/*
add more specific styles like h1.site-header
maybe switch to Grid to layout table, maybe still use table elements b/c semanticaly appropriate, just use Grid to style
wrap task name to new line on small screens
css grid for layout

Be able to click done on time blocks? Feels nice but also can infer based on date.now

Maybe automatically apply css to make past events greyed out
Also css to make current time block highlight Ed

style so don't feel hard borders between hour and minute, maybe no border at all, but diff bg color
*/


* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	max-width: 900px;
}

#app-root {
	display: grid;
	grid-gap: 10px 20px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"site-header"
		"site-content"
		"site-controls"
		"site-footer"
	;
	grid-template-rows: auto 1fr 1fr auto;

	width: 100%;
	min-height: 100vh; /* Assists with pinning the footer to the bottom of the document */
}


/*
 * Tablets
 */
@media only screen and ( min-width: 35em ) {
	html {
		padding: 0 20px;
	}

	body {
		margin: 0 auto;
		border-right: 1px solid #0d3349;
		border-left: 1px solid #0d3349;
	}
}


/*
 * Desktops
 */
@media only screen and ( min-width: 45em ) {
	#app-root {
		grid-template-columns: 200px 1fr;
		grid-template-areas:
			"site-header   site-header"
			"site-controls site-content"
			"site-footer   site-footer"
		;
		grid-template-rows: auto 1fr auto;
	}
}
